.box{
height: 70px;
width: 100%; 
background-color: #EC715F;
}
h1{
font-weight:normal;
color:#FAFAFA;
}
.maintitle{
display:block;
font-size:30px;
line-height:50px;
padding-left: 150px;
}
.description{
display:block;
font-size:12px;
line-height:0px;
padding-left: 185px;
}