.box{
           height: 70px;
           width: 100%; 
           background-color: #EC715F;
           }
h2 {
  line-height: 40px;
  color: white;
  font-size: 25px;
}
h2::before {
  content: ">";
  color: white;
  font-size: 35px;
}
p{
  color: white;
  font-size: 20px;
  line-height: 30px;
}