*{
    margin: 0;
    padding: 0;
} 
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
header{
    /*position: fixed;*/
    margin-top: -70px;
    padding-top: 70px;
    width: 100%;
    /*background-color: #FFFFFF;*/
    background-color: rgba(0,0,0,0);
}
nav{
    width: 90%;
    height: 60px;
    /*margin: 0 auto;*/
    text-align: center;
    /*color:#FAFAFA;*/
}
.title{
    float: left;
    width: 200px;
}
.maintitle{
display:block;
font-size:30px;
line-height:50px;
padding-left: 100px;
font-weight: 200;
}
.image{
    width: 180px;
    /*margin-left: 50px;*/
    margin-top: 4px;

}
.description{
display:block;
font-size:12px;
line-height:0px;
padding-left: 135px;
font-weight: 200;
}
.top-menu{
    /*float: right;*/
    width: 70%;
    line-height: 30px;
}
.top-menu-item{
    float: left;
    width: 25%;
    list-style: none;
}
.top-menu-item a{
    text-decoration: none;
    color: #000080;
}
.humberger{
    display: none;
}

.list{
    width: 100%;
    display: none;
}

.list-item{
    width: 100%;
    background-color: #EC715F;
    text-align: center;
    color: #FAFAFA;
    height: 60px;
    line-height:60px;
    border: solid thin #FAFAFA;
}

.back{
    width: 100%;
    height: 650px;
    font-size:30px;
    color:#FAFAFA;
    margin: 0 auto;
    padding-top: 200px;
    color: white;
    background-image: url(../img2/スカイツリー一帯.jpg);
    background-size: 100% 100%;
    text-align: center;
 }
 .lorem{
    font-size:70px;
    padding-top: 70px;
 }
 .simply{
    font-size:20px;
 }
  .sketch{
    width: 300px;
    height: 300px;
    padding-right: 5px;
 }
 .websuku{
    width: 300px;
    height: 300px;
    padding-right: 5px;
 }
 .write{
    width: 300px;
    height: 300px;
 }
  .webcamp{
    width: 300px;
    height: 300px;
    padding-right: 5px;
 }
  .talk{
    width: 300px;
    height: 300px;
    padding-right: 5px;
 }
  .webcamp-mother{
    width: 300px;
    height: 300px;
 }
 .several{
    width: 930px;
    margin: 0 auto;
 }
h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}
.sentence{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
/*.margin{
    margin-top:-70px;
    padding-top:70px;
}*/
.portfolio-color{
    width: 100%;
    height: 1000px;
    background-color: #f1f1f1; 
}
.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}
.gazousketch{
    width: 300px;
    height: 300px;
    color: white;
    background-image: url(../img2/sketch.jpg);
    background-size: 100% 100%;
    float: left;
}
.gazouwebsuku{
    width: 300px;
    height: 300px;
    color: white;
    background-image: url(../img2/websuku.png);
    background-size: 100% 100%;
    font-size: 40px;
    float: left;
    text-align: center;
    line-height: 300px;
}
.gazouwrite{
    width: 300px;
    height: 300px;
    color: white;
    background-image: url(../img2/write.jpg);
    background-size: 100% 100%;
    float: left;
}
.gazouwebcamp{
    width: 300px;
    height: 300px;
    color: white;
    background-image: url(../img2/webcamp.png);
    background-size: 100% 100%;
    font-size: 40px;
    float: left;
    line-height: 300px;
    text-align: center;
}
.gazoutalk{
    width: 300px;
    height: 300px;
    color: white;
    background-image: url(../img2/talk.jpg);
    background-size: 100% 100%;
    float: left;
}
.gazouwebcamp-mother{
    width: 300px;
    height: 300px;
    color: white;
    background-image: url(../img2/webcamp-mother.png);
    background-size: 100% 100%;
    font-size: 40px;
    float: left;
    text-align: center;
    line-height: 300px;
}
.kabuse{
    display: none;
    width: 300px;
    height: 300px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.feature-color{
    width: 100%;
    height: auto;
    padding-bottom: 90px;
}

h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}
/*p{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}*/
.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}


/*.bigcontainer{
    width: 1020px;
    margin: 0 auto;
}*/
.container{
    width: 320px;
}
.container .fa{
    width: 80px;
    margin: 0 auto;
    font-size: 80px;
    display: block;
}
.float-left{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.bigcontainer1 .container h3{
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    margin: 10px auto -30px auto;
}

* {
    margin: 0 auto;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.contrary{
    padding-top: 50px;
}

.profile-color{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    padding-bottom: 90px;
}

h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}

.first-text{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}

.bigcontainer1{
    width: 75%;
    margin: 0 auto;
}

.wrapper{
    width: 100%;
    height: 400px;
}

.smallcontainer{
    padding-left: 220px;
}
.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    background-image: url(../img2/my-icon.jpg);
}

.bigcontainer{
    float: left;
    width: 50%;
    padding: 0;
}

.bigcontainer:first-child {
    text-align: center;
}

.container-heading{
    text-align: left;
    margin: 0;
    font-size: 20px;
}
.container-text {
    text-align: left;
    margin: 10px 0 30px 0;
    padding: 0;
   /* padding-top: 10px;*/
    /*padding-bottom: 30px;*/
}
.container-text2 {
    text-align: left;
    margin-top: 10px;
    padding: 0;
   /* padding-top: 10px;
    padding-bottom: 90px;*/
}

* {
    margin: 0 auto;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.conatct-color{
    width: 100%;
    height: auto;
}

h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}

.first-text{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}
.smallcontainer-first{
    padding-left: 250px;
}
.bigcontainer{
    float: left;
    width: 50%;
}

.bigcontainer:first-child {
    text-align: center;
}

.container-heading{
    text-align: center;
    font-size: 25px;
}
.container-text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.container-text2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 90px;
}
.container .fa{
    width: 80px;
    margin: 0 auto;
    font-size: 80px;
    display: block;
}
.container .float-left{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.container-heading-right{
    font-size: 25px;
    padding-left: 10px;
}

.footer{
    line-height: 60px;
    background-color: #000055;
    text-align: center;
    color: #FAFAFA;
}
.container-heading-right{
    font-size: 19px;
}
.container-icons{
    font-size: 60px;
}
.container-icon{
    margin-top: -10px;
}

@media (max-width: 767px){
    .several{
        width: 90%;
        margin: 0 auto;
    }
    .portfolio-color{
    width: 100%;
    height: 2250px;
    background-color: #f1f1f1;
    }
    .gazou{
        width: 100%;
        height: auto;
    }
    .gazousketch{
        float: none;
    }
    .gazouwebsuku{
        float: none;
    }
    .gazouwrite{
        float: none;
    }
    .gazouwebcamp{
        float: none;
    }
    .gazoutalk{
        float: none;
    }
    .gazouwebcamp-mother{
        float: none;
    }
    .bigcontainer{
        width: 100%;
    }
    .float-left{
    float: none;
    padding-left: 0px;
    padding-right: 0px;
    }
    .sns{
        float: left!important;
        padding-left: 12px;
    }
    .smallcontainer{
    padding-left: 0px;
    padding-bottom: 30px;
    }
    .profile-color{
    height: 950px;
    }
    .container-text {
    padding-bottom: 0px;
    }
    .smallcontainer-first {
    padding-left: 0px;
    }
    .container-icons {
    height: 90px;
    margin: 0 auto;
    width: 200px;
    padding-top: 15px;
    }
    .container-heading-right {
    text-align: center;
    }   
    .container-text2 {
    padding-bottom: 40px;
    }
    .top-menu{
        display: none;
    }
    .humberger{
        display: block;
        float: right;
        height: 60px;
        line-height: 60px;
        font-size: 50px;
    }    

}