* {
	margin: 0 auto;
	padding: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

h1{
	text-align: center;
	padding-top: 90px;
	margin: 0;
}

.first-text{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.border{
	border: solid 1px #EC715F;
	width: 50px; 
	margin: 0 auto;
	margin-top: 8px;
}
.smallcontainer-first{
	padding-left: 250px;
}
.bigcontainer{
	float: left;
	width: 50%;
}

.bigcontainer:first-child {
	text-align: center;
}

.container-heading{
	text-align: center;
	font-size: 25px;
}
.container-text {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.container-text2 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 90px;
}
.container .fa{
	width: 80px;
	margin: 0 auto;
	font-size: 80px;
	display: block;
}
.container .float-left{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.container-heading-right{
	font-size: 25px;
	padding-left: 10px;
}