
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.box-group{
    width: 600px;
    margin: 0 auto;
}

.box{
    float: left;
    width: 200px;
    height: 200px;
    background-color: lime;
    border: 1px solid gray;
}

p{
    display: none;
    width: 200px;
    height: 200px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}