.container {
  width: 1500px;
  height: 550px;
  border: 1px solid #888;
  margin: 100px auto;
}

.box {
  float: left;
  width: 200px;
  height: 350px;
  margin: 100px 0 0 40px;
  border: 1px solid #333;
  background: skyblue;
}

p {
  line-height: 350px;
  font-size: 60px;
  color: #fff;
  text-align: center;
}
.box:first-child {
  background: red;
}
.box:last-child {
  background: red;
}
.box:nth-child(3) {
  background: red;
}
.box:nth-child(2n) {
  background: red;
}