.box {
  width: 1500px;
  height: 600px;
  border: 1px solid #888;
  margin: 100px auto;
}

h2 {
  height: 150px;
  line-height: 150px;
  font-size: 30px;
  text-align: center;
}

h2::after {
  width: 100px;
  margin: 0 auto;
  display: block;
  border-top: 2px solid #3ead92;
  content: '';
}