*{
    margin: 0;
    padding: 0;
} 
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
header{
    width: 100%;
    background-color: #EC715F;
/*    position: fixed;*/
}
nav{
    width: 90%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    color:#FAFAFA;
}
.title{
    float: left;
    width: 200px;
}
.maintitle{
display:block;
font-size:30px;
line-height:50px;
padding-left: 100px;
font-weight: 200;
}
.image{
    width: 140px;
}
.description{
display:block;
font-size:12px;
line-height:0px;
padding-left: 135px;
font-weight: 200;
}
.top-menu{
    float: right;
    width: 60%;
    line-height: 60px;
}
.top-menu-item{
    float: left;
    width: 25%;
    list-style: none;
}
.top-menu-item a{
    text-decoration: none;
    color: #FAFAFA;
}
.back{
    width: 100%;
    height: 650px;
    font-size:50px;
    color:#FAFAFA;
    margin: 0 auto;
    padding-top: 200px;
    color: white;
    background-image: url(mv.png);
    background-size: 100% 100%;
    text-align: center;
 }
 .lorem{
    font-size:70px;
 }
 .simply{
    font-size:20px;
 }

  .sketch{
    width: 300px;
    height: 300px;
    padding-right: 5px;
 }
 .websuku{
    width: 300px;
    height: 300px;
    padding-right: 5px;
 }
 .write{
    width: 300px;
    height: 300px;
 }
  .webcamp{
    width: 300px;
    height: 300px;
    padding-right: 5px;
 }
  .talk{
    width: 300px;
    height: 300px;
    padding-right: 5px;
 }
  .webcamp-mother{
    width: 300px;
    height: 300px;
 }
 .several{
    width: 930px;
    margin: 0 auto;
 }
h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}
p{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio-color{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    padding-bottom: 90px;
}

.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}

.feature-color{
    width: 100%;
    height: auto;
    padding-bottom: 90px;
}

h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}
p{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}


.bigcontainer{
    width: 1020px;
    margin: 0 auto;
}
.container{
    width: 320px;
}
.container .fa{
    width: 80px;
    margin: 0 auto;
    font-size: 80px;
    display: block;
}
.float-left{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.bigcontainer1 .container h3{
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    margin: 10px auto -30px auto;
}

* {
    margin: 0 auto;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


.profile-color{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    padding-bottom: 90px;
}

h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}

.first-text{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}

.bigcontainer1{
    width: 75%;
    margin: 0 auto;
}

.wrapper{
    width: 100%;
    height: 400px;
}

.smallcontainer{
    padding-left: 220px;
}
.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    background-image: url(../img2/my-icon.jpg);
}

.bigcontainer{
    float: left;
    width: 50%;
    padding: 0;
}

.bigcontainer:first-child {
    text-align: center;
}

.container-heading{
    text-align: left;
    margin: 0;
    font-size: 20px;
}
.container-text {
    text-align: left;
    margin: 10px 0 30px 0;
    padding: 0;
   /* padding-top: 10px;*/
    /*padding-bottom: 30px;*/
}
.container-text2 {
    text-align: left;
    margin-top: 10px;
    padding: 0;
   /* padding-top: 10px;
    padding-bottom: 90px;*/
}

* {
    margin: 0 auto;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.conatct-color{
    width: 100%;
    height: auto;
}

h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}

.first-text{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}
.smallcontainer-first{
    padding-left: 250px;
}
.bigcontainer{
    float: left;
    width: 50%;
}

.bigcontainer:first-child {
    text-align: center;
}

.container-heading{
    text-align: center;
    font-size: 25px;
}
.container-text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.container-text2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 90px;
}
.container .fa{
    width: 80px;
    margin: 0 auto;
    font-size: 80px;
    display: block;
}
.container .float-left{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.container-heading-right{
    font-size: 25px;
    padding-left: 10px;
}

.footer{
    line-height: 60px;
    background-color: #EC715F;
    text-align: center;
    color: #FAFAFA;
}
.container-heading-right{
    font-size: 19px;
}
.container-icons{
    font-size: 60px;
}
.container-icon{
    margin-top: -10px;
}
