*{
    margin: 0;
    padding: 0;
} 
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
header{
    width: 100%;
    background-color: #EC715F;
/*    position: fixed;*/
}
nav{
    width: 90%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    color:#FAFAFA;
}
.title{
    float: left;
    width: 200px;
}
.maintitle{
display:block;
font-size:30px;
line-height:50px;
padding-left: 100px;
font-weight: 200;
}
.image{
    width: 140px;
}
.description{
display:block;
font-size:12px;
line-height:0px;
padding-left: 135px;
font-weight: 200;
}
.top-menu{
    float: right;
    width: 60%;
    line-height: 60px;
}
.top-menu-item{
    float: left;
    width: 25%;
    list-style: none;
}
.top-menu-item a{
    text-decoration: none;
    color: #FAFAFA;
}
.back{
    width: 100%;
    height: 650px;
    font-size:50px;
    color:#FAFAFA;
    margin: 0 auto;
    padding-top: 200px;
    color: white;
    background-image: url(mv.png);
    background-size: 100% 100%;
    text-align: center;
 }
 .lorem{
    font-size:70px;
 }
 .simply{
    font-size:20px;
 }