.container {
    background-color: #c1ffe0;
    width: 400px;
    margin: 0 auto;
}

.box {
    width: 200px;
    height: 200px;
    border: 3px solid #f1f1f1;
    padding : 10px;
    float: left;
    box-sizing: border-box;
}

.box1 {
     background-color: #c1ffff;
}

.box2 {
    background-color: #ffffc6;
}