*{
    margin: 0;
    padding: 0;
} 
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.wrap{
    overflow: hidden;
}
header{
    position: fixed;
    width: 100%;
    background-color: #191970;
    z-index: 100;
}
nav{
    width: 90%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    color:#FAFAFA;
}
/*.st{
    font-family: "ヒラギノ",serif;
    font-weight: 100; 
}*/
.title{
    float: left;
    width: 200px;
}
.maintitle{
display:block;
font-size:30px;
line-height:50px;
padding-left: 100px;
font-weight: 200;
}
/*.image{
    width: 210px;
    padding-left: 50px;
    padding-top: 1px;
}*/
.image1{
    width: 210px;
    padding-left: 50px;
    padding-top: 1px;
}
.description{
display:block;
font-size:12px;
line-height:0px;
padding-left: 135px;
font-weight: 200;
}
.top-menu{
    float: right;
    width: 75%;
    line-height: 60px;
    /*padding-right: 60px;*/
    margin-top:-100px;
    padding-top:100px;
}
.top-menu-item{
    float: left;
    width: 15%;
    list-style: none;
    font-size:13px;
}
.top-menu-item a{
    text-decoration: none;
    color: #FAFAFA;
}
.top-icon{
    width: 20px;
}
.humberger{
    display: none;
}

.list{
    width: 100%;
    display: none;
}

.list-item {
    width: 100%;
    background-color: #191970;
    text-align: center;
    color: white;
    height: 60px;
    line-height:60px;
    border-top: solid thin #FAFAFA;
}
.list-item a{
    color: white;
}

.back{
    width: 100%;
    height: 650px;
    font-size:50px;
    color:#FAFAFA;
    margin: 0 auto;
    padding-top: 150px;
    color: #666666;
    background-image: url(../img2/AdobeStock_88623748.jpeg);
    background-size: 100% 100%;
    text-align: center;
 }
 .lorem{
    font-size: 40px;
    padding-top: 90px;
 }
 .simply{
    font-size:20px;
    padding-top: 20px;
 }
 /*.lorem-iphone6{
    font-size: 20px;
    padding-top: 90px;
    display: none;
 }
 .simply-iphone6{
    font-size:10px;
    padding-top: 20px;
    display: none;
 }*/


h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}
.sentence{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.service-color{
    width: 100%;
    height: 650px;
    /*background-color: #f1f1f1;*/
    color: #333333;
}
.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}
.fa-user{
    text-align: center;
}
.fa-handshake-o{
    text-align: center;
    padding-right: 20px;
}

.kyujin{
    margin: 20px 20px;
    padding: 10px;
    border: thin solid #EC715F;
    text-align: center;
    color: #EC715F;
    font-size: 15px;
}

.profile-color{
    width: 100%;
    height: 700px;
    padding-bottom: 90px;
    background-color: #f1f1f1;
    color: #333333;
}

h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}
/*p{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}*/
.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}


/*.bigcontainer{
    width: 1020px;
    margin: 0 auto;
}*/
.container{
    width: 320px;
}
.container .fa{
    width: 80px;
    margin: 0 auto;
    font-size: 80px;
    display: block;
}
.float-left{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.bigcontainer1 .container h3{
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin: 10px auto -30px auto;
}

}
* {
    margin: 0 auto;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.contrary{
    padding-top: 50px;
}

.company-color{
    width: 100%;
    height: auto;
    /*background-color: #f1f1f1;*/
    padding-bottom: 90px;
    color: #333333;
}

h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}
.companydata{
    padding-top: 40px;
}
th{
    width: 150px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 20px;
    padding-left: 200px;

}
td{
   padding-bottom: 20px;
}
.first-text{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}

.bigcontainer1{
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
}

.wrapper{
    width: 100%;
    height: 400px;
}

.smallcontainer{
    padding-left: 220px;
}
.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    background-image: url(../img2/プロフィール写真_サイズ変更済.jpg);
}

.bigcontainer{
    float: left;
    width: 50%;
    padding: 0;
}

.bigcontainer:first-child {
    text-align: center;
}
.yaku{
    /*text-align: center;*/
    padding-right: 23px;
    font-size: 15px;
}
.container-heading1{
    /*text-align: center;*/
    /*margin: 0;*/
    font-size: 20px;
}
.yomi{
    /*text-align: center;*/
    /*padding-left: 9px;*/
    font-size: 11px;
}
.container-text1 {
    text-align: left;
    margin: 10px 0 30px 0;
    padding: 0;
    width: 500px;
   /* padding-top: 10px;*/
    /*padding-bottom: 30px;*/
}
.container-text2 {
    text-align: left;
    margin-top: 10px;
    padding: 0;
   /* padding-top: 10px;
    padding-bottom: 90px;*/
}

* {
    margin: 0 auto;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.conatct-color{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    color: #333333;
}

h1{
    text-align: center;
    padding-top: 90px;
    margin: 0;
}

.first-text{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.border{
    border: solid 1px #EC715F;
    width: 50px; 
    margin: 0 auto;
    margin-top: 8px;
}
.smallcontainer-first{
    padding-left: 400px;
}
.bigcontainer{
    float: left;
    width: 50%;
}

.bigcontainer:first-child {
    text-align: center;
}

.container-heading{
    text-align: center;
    font-size: 25px;
}
.container-text {
    /*text-align: center;*/
    padding-top: 10px;
    padding-bottom: 30px;
    font-size:  20px;
}
.container-text2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 90px;
    font-size:  20px;
}
.container .fa{
    width: 80px;
    margin: 0 auto;
    font-size: 80px;
    display: block;
}
.container .float-left{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.container-heading-right{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.footer{
    line-height: 60px;
    background-color: #191970;
    text-align: center;
    color: #FAFAFA;
}
.container-icons{
    font-size: 40px;
}
.container-icon{
    margin-top: -10px;
}

@media (max-width: 768px){
    /*.several{
        width: 90%;
        margin: 0 auto;
    }*/
    .service-color{
        height: 1250px;
    }
    /*.portfolio-color{
    width: 100%;
    height: 2950px;
    background-color: #f1f1f1;
    }*/
    /*.gazou{
        width: 100%;
        height: auto;
    }
    .gazousketch{
        float: none;
    }
    .gazouwebsuku{
        float: none;
    }
    .gazouwrite{
        float: none;
    }
    .gazouwebcamp{
        float: none;
    }
    .gazoutalk{
        float: none;
    }
    .gazouwebcamp-mother{
        float: none;
    }*/
    .fa-handshake-o{
        padding-top: 40px;
    }
    .fa-laptop{
        padding-top: 40px;
    }
    .bigcontainer{
        width: 100%;
    }
    .float-left{
    float: none;
    padding-left: 0px;
    padding-right: 0px;
    }
    .sns{
        float: left!important;
        padding-left: 12px;
    }
    .smallcontainer{
    padding-left: 0px;
    padding-bottom: 30px;
    }
    .profile-color{
    height: 950px;
    }
    .container{
        width: 400px;
    }
    .container-text {
    padding-bottom: 40px;
    font-size:  20px;
    }
    td{
        padding-right: 15%;
    }
    .smallcontainer-first {
    padding-left: 0px;
    }
    .container-icons {
    height: 90px;
    margin: 0 auto;
    width: 142px;
    padding-top: 15px;
    font-size: 40px;
    }
    .container-heading-right {
    text-align: center;
    }   
    .container-text2 {
    padding-bottom: 40px;
    font-size:  20px;
    }
    .top-menu{
        display: none;
    }
    .humberger{
        display: block;
        float: right;
        height: 60px;
        line-height: 60px;
        font-size: 50px;
    }    

}

@media (max-width: 375px){
    .image1{
        padding-right: 5px;
    }
    .back{
    width: 100%;
    height: 454px;
    font-size:50px;
    color:#FAFAFA;
    margin: 0 auto;
    padding-top: 100px;
    color: #666666;
    background-image: url(../img2/AdobeStock_88623748.jpeg);
    background-size: cover;
    text-align: center;
    background-position: 38% 50%; 
     }
     .lorem{
        font-size: 21px;

     }
     .simply{
        font-size: 14px;
     }

     .service-color {
        height: 1300px;
    }
    .container{
        width: 100%;
    }
    .fa-handshake-o{
        padding-top: 40px;
    }
    .fa-laptop{
        padding-top: 40px;
    }
    .profile-color{
        padding-bottom: 130px;
        height: 950px;
    }
    .container-text1{
        width: 80%;
        margin: 10px 10%; 
        /*text-align: center;*/
        font-size: 90%;
    }
    /*.container-text-content{
        width: 80%;
        margin: 10px 10%; 
        font-size: 90%;
    }*/
    .yaku{
        /*padding-left: 23px;*/
    }
    .company-color{
        height: 899px;
    }
    .companydata {
        width: 88%;
    }
    th{
        padding-left: 0px;
        width: 100px;
    }
    td{
        padding-right: 0%;
    }
    .sns{
        float: left!important;
        padding-left: 12px;
    }
    .smallcontainer{
    padding-left: 0px;
    padding-bottom: 30px;
    }
    .container-text {
    padding-bottom: 20px;
    }
    .smallcontainer-first {
    padding-left: 0px;
    }
    .container-icons {
    height: 90px;
    margin: 0 auto;
    width: 153px;
    padding-top: 15px;
    }
    .container-heading-right {
    text-align: center;
    padding-bottom: 0px;
    }   
    .container-text2 {
    padding-bottom: 40px;
    padding-top: 0px;
    }
    .top-menu{
        display: none;
    }
    .humberger{
        display: block;
        float: right;
        height: 60px;
        line-height: 60px;
        font-size: 50px;
    }    

}